/* :root{
    --root-size: 1.2rem;
    --fgcolor: #14a44e;
} */

body{
    font-size: var(--root-size);
    font-family: "Roboto";
    padding:20px;
    background-color: #FFFBF1;
}

hgroup{
    padding: 20px;
    margin: 20px;
    background-color: #F9451D;
}

h1{
    font-family: "Big Shoulders Inline Text";
}

blockquote{
    font-family: "Oswald";
}

p{
    color:rgb(0, 0, 0);
	font-size: 20px;
	line-height: 30px;
	font-weight: 200px;
    margin-left: 16px;
    margin-top: 35px;
   
}






