:root{
    --root-size: 18px;
    --line-height: 30px;
}

body{
    font-size: var(--root-size);
    font-family: "Roboto";
    background-color: #FFFBF1;
}

hgroup{
    padding: 24px;
    position: relative;
}

.headerback {
    background-color: #F9451D;
    width: 100vw;
}

h1{
    font-family: "Big Shoulders Inline Display";
    font-size: calc(var(--root-size) * 6);
    font-weight:900;
    /* text-wrap: nowrap; */
    /* text-align: center; */
    margin-top: -36px;
}

h2{
    font-family: "Oswald";
    font-size: calc(var(--root-size) * 1.5);
    font: weight 400;
    text-wrap: nowrap;
    text-align: left;
}

h3{
    font-family: "Oswald";
    font-size: calc(var(--root-size)*1.2);
    font-weight:300;
    padding-bottom: 30px;
    text-align:left;
    margin-top: 10px;
}

.author, .contributor {
    display: block;
}

h5{
    font-family: "Big Shoulders Inline Display";
    font-size: calc(var(--root-size) * 3);
    font-weight:900;
    text-wrap: nowrap;
    text-align: center;
    display: block;
    position: absolute;
    margin-left: -38px;
    bottom: -32px;
}

p{
    color:#050100;
	font-size: 18px;
	line-height:var(--line-height);
	font-weight: 200px;
    text-wrap: pretty;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    padding:calc(var(--root-size) *0.5);
}
p:first-of-type {
    padding: 24px;
  }

blockquote{
    position: relative; /* Set relative positioning */
    font-family: "Oswald";
    font-size: calc(var(--root-size) * 1.5);
    text-wrap: pretty;
    text-align: right;
    padding:calc(var(--root-size) * 1.5);
    border-top: 12px solid #F9451D;
    border-bottom: 12px solid #F9451D;

}

.blocklines{
    position: absolute; 
    right: var(--root-size); 
    bottom: -32px; 
    font-size: calc(var(--root-size) * 2); 
    font-family: "Big Shoulders Inline Display";
    
}

footer{
    background-color: #F9451D;
    width: 100vw;
    /* padding: 20px; */
    padding-bottom: 0px;

/*footer back to top is getting styled here*/
    p:first-of-type {
        text-align: center;
        margin-top: 0px;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
        padding-top: 30px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
}



.mirror {
    display: inline-block; 
    animation: mirrorEffect 2s infinite alternate; 
}

@keyframes mirrorEffect {
    0% {
        transform: scaleX(1); 
    }
    100% {
        transform: scaleX(-1); 
    }
}


/*Footer Content Styling*/

/* .backtotop{
    color:#050100;
    text-align: center;
} */

.smallMotif{
    font-family: "Big Shoulders Inline Display";
    text-align: center;
    margin: 0;
    padding:0;
    font-size: calc(var(--root-size)*1.5);
}

.Classname {
    font-family: 'Oswald';
    font-size: calc(var(--root-size) * 1.5);
    font: weight 400;
    text-wrap: nowrap;
    text-align: center;
    align-items: center;
    margin: 0;
}

.Partners{
    font-family: "Oswald";
    font-size: calc(var(--root-size));
    font-weight:300;
    text-wrap: nowrap;
    text-align: center;
    margin: 0;
}

.bigMotif{
    font-family: "Big Shoulders Inline Display";
    font-size: calc(var(--root-size)*10);
    letter-spacing:2;
    text-align: center;
    margin: 20 0 0 0 ;
    padding: 0;
    font-size: calc(var(--root-size)*2);
}


/*Start of Media Sizing*/

@media (min-width:350px) and (max-width:450px){
    h1 {
        font-size: calc(var(--root-size) * 5.5);
        /* text-align: center; */
    }

}

@media (min-width: 500px) {
    /* hgroup {
        width: fit-content;
    } */

    h1{
        font-size: calc(var(--root-size) * 8);
    }
    

    blockquote{
        margin-top: calc(var(--root-size) * .5);
        margin-bottom: calc(var(--root-size) * .5);
    }
}

@media (min-width:550px) and (max-width:799px){


    h1 {
        font-size: calc(var(--root-size) * 7);
        /* text-align: center; */
    }

    p {
        display: flex;
        justify-content: flex-end;
        max-width: 90%;
        padding-left:40px;
    }

    p:first-of-type {
        padding-top: 40px;
      }

    footer p{
        display: block;
        text-align: center;
    }

blockquote{
    margin-left: 30vw;
    max-width: 65vw;
    text-align: right;
    padding-right: 0;
    margin-right: 0;

}
}
@media (min-width: 800px) {

    /* hgroup{
        width: fit-content;
    } */

     p {
        display: flex;
        justify-content: flex-end;
        max-width: 80%;
        margin: 0 auto;
        align-items: center;
    }

    h1{
        font-size: calc(var(--root-size) * 12);
        line-height: calc(var(--root-size)*14);
        text-align: right;
        margin-left: auto;
        margin-right: 45px;
          }


    h2 {
        font-size: calc(var(--root-size) * 2);
        padding-top: 20px;
        margin-left: 45px;
    }

    h3{
        font-size: calc(var(--root-size) * 1.5);
        line-height: calc(var(--root-size)*2);
        margin-left: 45px;
        padding-bottom: 60px;
        font-family: 'Oswald';
        text-align: left;
        opacity: 0.8;
        font-weight: 100;
    }


    blockquote{
        font-size: calc(var(--root-size) * 2);
        margin-left: 30vw;
        max-width: 65vw;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 40px;
        border: none;
        transition: border-color 0.5s ease;
    }

    blockquote::before {
        top: 40px; 
        padding: 0 40px; 
        align-items: right;
    }

    blockquote::after {
        bottom: 40px; 
        padding: 0 40px; 
        align-items: right;
    }


    blockquote::before, blockquote::after {
        content: ''; 
        display: block;
        height: 12px; 
        background-color: #F9451D; 
        width: 0; 
        transition: width 0.5s ease;
        right: 0;
    }


    blockquote:hover::before, blockquote:hover::after {
        width: 100%; 
    }

    .blocklines{
        opacity: 0;
        
    }

    footer p{
        display: block;
        text-align: center;
        max-width: 100%;

    }

}

@media (min-width: 950px) {

    h5 {
        font-size: calc(var(--root-size) * 6);
            position: absolute;
            bottom: 60px;
            transform: rotate(90deg);
            transform-origin: left bottom;
            margin-top: 30px;
    }
  
    h5::after {
        content: '||||||||||||||||||';
        letter-spacing: -3px;
    
    }

    p{
        max-width: 70%;
        padding-bottom: var(--root-size);
        font-size: calc(var(--root-size)*1.2);
        line-height: calc(var(--line-height)*1.2);
    }

    .blocklines{
        opacity: 0;
    }

    footer p{
        display: block;
        text-align: center;
        max-width: 100%;

    }


}

@media (min-width: 1260px) {
    p{
        max-width: 65%;
    }

    footer p{
        display: block;
        text-align: center;
        max-width: 100%;
    }

}
 

/* Animation of h1 */
@keyframes mirrorEffect {
    0% {
        transform: scaleX(1); 
    }
    100% {
        transform: scaleX(-1); 
    }
}
