:root{
    --root-size: 20px;
    --line-height: 30px;
}



* {
    box-sizing: border-box;
}

.ParentBox {
    display: flex;
    flex-direction: column;
}

body{
    font-size: var(--root-size);
    font-family: "Roboto";
    background-color: #FFFBF1;
    /* margin: auto; */
    }


hgroup{
    background-color: #F9451D;
    padding: 20px;
}
h1{
    font-family: "Big Shoulders Inline Display";
    font-size: calc(var(--root-size) * 8);
    font-weight:900px;
    display: block;
    /* margin-top: -40px; */
}

h2{
    font-family: "Oswald";
    font-size: calc(var(--root-size) * 1.5);
    font: weight 400px;
}

h3{
    font-size: var(--root-size);
    font-family: "Roboto";
    font-size: calc(var(--root-size) * .75);
    font-weight:500px;
    max-width: 60%;
    line-height: calc(var(--root-size)*1.5);
}

/* section:nth-child(1){
    font-family: "Big Shoulders Inline Display";
    font-size: calc(var(--root-size) * 5);
    font-weight: 900;
    text-align: right;
    position: relative;
    top: 60px
 } */

p{
    color:rgb(0, 0, 0);
	font-size: 20px;
	line-height:var(--line-height);
	font-weight: 200px;
    margin-left: 16px;
    padding:var(--root-size);
    /* max-width: 85%; */
   
}

blockquote{
    font-family: "Oswald";
    font-size: calc(var(--root-size) * 1.5);
    text-align: right;
    /* border-width: flex; */
    border-top: 12px solid #F9451D;
    border-bottom: 12px solid #F9451D;
    padding: 40px;
    /* flex-direction: row-reverse; */
}

footer{
    background-color: #F9451D;
    padding: 20px;
}

@media (max-width: 355px) {
    h1 {
        font-size: calc(var(--root-size) * 5);
    }
}

@media (max-width: 799px) {
    p {
        display: flex;
        justify-content: flex-end;
        max-width: 85%;
    }
}
@media (min-width: 800px) {
     p {
        /* display: flex;
        justify-content: center;
        width: 100%; */
        max-width: 65%;
        margin: 0 auto;
        align-items: center;
    }
}
/* start of mobile responsive design*/
/* @media screen and (min-width: 390px) {
    .title {
        display:block;
    }
    p{
        margin: calc(var(--root-size)*4);
        line-height: calc(var(--root-size)*1.8);
        max-width: 65%;
    }
    blockquote{
        margin-top: 20px;
        text-align: right;
    }
} */

/* start of desktop responsive design */
/* @media (min-width: 1280px){
    .title{
        display:flex;
    }
} */

/* start of letter print design